# Create_table

In [13]:
# 創建名為"result" 的 table

import pymysql

# Open database connection
db = pymysql.connect("127.0.0.1","root","s70399S80228","sys" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS result")

# sql = """create table tutorials_tbl(
#    tutorial_id INT NOT NULL AUTO_INCREMENT,
#    tutorial_title VARCHAR(100) NOT NULL,
#    tutorial_author VARCHAR(40) NOT NULL,
#    submission_date DATE,
#    PRIMARY KEY ( tutorial_id )
# );"""

# Create table as per requirement
sql = """create table result(
  id INT NOT NULL AUTO_INCREMENT,
  Stock_id INT NOT NULL,
  Company_name VARCHAR(60) NOT NULL,
  Date VARCHAR(9) NOT NULL,
  Time VARCHAR(8) NOT NULL,
  Intensity INT NOT NULL,
  Direction VARCHAR(2) NOT NULL,
  Big_event_type VARCHAR(9) NOT NULL,
  Small_event_type VARCHAR(20) NOT NULL,
  News_content VARCHAR(255) NOT NULL,
  News_cut VARCHAR(255) NOT NULL,
  PRIMARY KEY ( id )
);"""

cursor.execute(sql)
print("Created table Successfull.")
# disconnect from server
db.close()

Created table Successfull.

# Insert data

In [10]:
import pymysql

# Open database connection
db = pymysql.connect("127.0.0.1","root","s70399S80228","sys" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

a, b, c, d, e, f, g, h, i, j = 2354, '鴻準', '109/06/20', '18:44:04', -1, '上漲', 'M_經營層', '產業前景_其他', '代子公司富准精密工業(深圳)有限公司公告處分理財產品', '代子公司 富准 精密 工業 深圳 有限公司 公告 處分 理財 產品'

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO result(Stock_id, Company_name, Date ,Time,
   Intensity, Direction, Big_event_type, Small_event_type, News_content, News_cut)
   VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
try:
    # Execute the SQL command
    cursor.execute(sql,(a, b, c, d, e, f, g, h, i, j))
    print('Successful')
    # Commit your changes in the database
    db.commit()
except:
    # Rollback in case there is any error
    print('Failed')
    db.rollback()
    
# disconnect from server
db.close()

Successful

In [ ]:
# 創建名為"result" 的 table

import pymysql

# Open database connection
db = pymysql.connect("127.0.0.1","root","s70399S80228","sys" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS result_test")

# sql = """create table tutorials_tbl(
#    tutorial_id INT NOT NULL AUTO_INCREMENT,
#    tutorial_title VARCHAR(100) NOT NULL,
#    tutorial_author VARCHAR(40) NOT NULL,
#    submission_date DATE,
#    PRIMARY KEY ( tutorial_id )
# );"""

# Create table as per requirement
sql = """create table result_test(
  id INT NOT NULL AUTO_INCREMENT,
  Stock_id INT NOT NULL,
  Company_name VARCHAR(60) NOT NULL,
  Date VARCHAR(9) NOT NULL,
  Time VARCHAR(8) NOT NULL,
  Intensity INT NOT NULL,
  Direction VARCHAR(2) NOT NULL,
  Big_event_type VARCHAR(9) NOT NULL,
  Small_event_type VARCHAR(20) NOT NULL,
  News_content VARCHAR(255) NOT NULL,
  News_cut VARCHAR(255) NOT NULL,
  PRIMARY KEY ( id )
);"""

cursor.execute(sql)
print("Created table Successfull.")
# disconnect from server
db.close()