In [1]:
import requests
import json
import csv
from bs4 import BeautifulSoup
import pandas as pd
import time,datetime,os

In [2]:
dt=datetime.datetime.now()
print(dt.year)
print(dt.month)
print(dt.day)
date=str(dt.year)+"{0:0=2d}".format(dt.month)+str(dt.day)

2020
5
27

In [3]:
stocknumber='2880'

In [4]:
url='http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date='+date+'&stockNo='+stocknumber

In [5]:
doc = requests.post(url,)
soup = BeautifulSoup(doc.text, "html.parser")
newdoc=json.loads(soup.text)
newdoc

{'stat': 'OK',
 'date': '20200527',
 'title': '109年05月 2880 華南金           各日成交資訊',
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 'data': [['109/05/04',
   '18,232,088',
   '345,279,406',
   '18.70',
   '19.15',
   '18.70',
   '19.00',
   '-0.45',
   '6,019'],
  ['109/05/05',
   '7,906,751',
   '150,965,340',
   '19.20',
   '19.20',
   '19.00',
   '19.05',
   '+0.05',
   '3,227'],
  ['109/05/06',
   '10,087,845',
   '191,473,395',
   '19.05',
   '19.10',
   '18.90',
   '18.95',
   '-0.10',
   '4,191'],
  ['109/05/07',
   '6,485,922',
   '123,250,956',
   '18.95',
   '19.15',
   '18.95',
   '18.95',
   ' 0.00',
   '2,795'],
  ['109/05/08',
   '8,133,631',
   '155,330,211',
   '19.10',
   '19.20',
   '19.05',
   '19.05',
   '+0.10',
   '2,428'],
  ['109/05/11',
   '14,120,328',
   '274,037,783',
   '19.25',
   '19.55',
   '19.20',
   '19.35',
   '+0.30',
   '4,245'],
  ['109/05/12',
   '12,694,770',
   '243,678,371',
   '19.25',
   '19.30',
   '19.15',
   '19.15',
   '-0.20',
   '4,129'],
  ['109/05/13',
   '7,935,683',
   '152,317,749',
   '19.10',
   '19.30',
   '19.10',
   '19.20',
   '+0.05',
   '2,745'],
  ['109/05/14',
   '9,504,811',
   '181,490,516',
   '19.15',
   '19.20',
   '19.05',
   '19.05',
   '-0.15',
   '3,653'],
  ['109/05/15',
   '11,213,678',
   '213,735,451',
   '19.10',
   '19.20',
   '19.00',
   '19.00',
   '-0.05',
   '3,441'],
  ['109/05/18',
   '9,120,595',
   '173,652,219',
   '19.00',
   '19.10',
   '18.95',
   '19.00',
   ' 0.00',
   '2,889'],
  ['109/05/19',
   '9,457,500',
   '182,370,293',
   '19.40',
   '19.40',
   '19.15',
   '19.30',
   '+0.30',
   '2,640'],
  ['109/05/20',
   '8,125,436',
   '157,056,877',
   '19.35',
   '19.40',
   '19.25',
   '19.40',
   '+0.10',
   '3,076'],
  ['109/05/21',
   '9,657,905',
   '187,607,639',
   '19.40',
   '19.50',
   '19.30',
   '19.40',
   ' 0.00',
   '2,957'],
  ['109/05/22',
   '14,943,755',
   '286,775,545',
   '19.40',
   '19.40',
   '19.10',
   '19.10',
   '-0.30',
   '5,561'],
  ['109/05/25',
   '6,501,903',
   '124,343,089',
   '19.15',
   '19.20',
   '19.05',
   '19.20',
   '+0.10',
   '2,183'],
  ['109/05/26',
   '11,908,883',
   '231,392,446',
   '19.30',
   '19.50',
   '19.30',
   '19.40',
   '+0.20',
   '2,982'],
  ['109/05/27',
   '8,310,108',
   '161,797,308',
   '19.45',
   '19.55',
   '19.40',
   '19.50',
   '+0.10',
   '2,530']],
 'notes': ['符號說明:+/-/X表示漲/跌/不比價',
  '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。',
  'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。']}

In [6]:
stockdata=pd.DataFrame(newdoc['data'],columns=newdoc['fields'])
stockdata

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,109/05/04,"18,232,088","345,279,406",18.70,19.15,18.70,19.00,-0.45,"6,019"
1,109/05/05,"7,906,751","150,965,340",19.20,19.20,19.00,19.05,+0.05,"3,227"
2,109/05/06,"10,087,845","191,473,395",19.05,19.10,18.90,18.95,-0.10,"4,191"
3,109/05/07,"6,485,922","123,250,956",18.95,19.15,18.95,18.95,0.00,"2,795"
4,109/05/08,"8,133,631","155,330,211",19.10,19.20,19.05,19.05,+0.10,"2,428"
5,109/05/11,"14,120,328","274,037,783",19.25,19.55,19.20,19.35,+0.30,"4,245"
6,109/05/12,"12,694,770","243,678,371",19.25,19.30,19.15,19.15,-0.20,"4,129"
7,109/05/13,"7,935,683","152,317,749",19.10,19.30,19.10,19.20,+0.05,"2,745"
8,109/05/14,"9,504,811","181,490,516",19.15,19.20,19.05,19.05,-0.15,"3,653"
9,109/05/15,"11,213,678","213,735,451",19.10,19.20,19.00,19.00,-0.05,"3,441"
10,109/05/18,"9,120,595","173,652,219",19.00,19.10,18.95,19.00,0.00,"2,889"
11,109/05/19,"9,457,500","182,370,293",19.40,19.40,19.15,19.30,+0.30,"2,640"
12,109/05/20,"8,125,436","157,056,877",19.35,19.40,19.25,19.40,+0.10,"3,076"
13,109/05/21,"9,657,905","187,607,639",19.40,19.50,19.30,19.40,0.00,"2,957"
14,109/05/22,"14,943,755","286,775,545",19.40,19.40,19.10,19.10,-0.30,"5,561"
15,109/05/25,"6,501,903","124,343,089",19.15,19.20,19.05,19.20,+0.10,"2,183"
16,109/05/26,"11,908,883","231,392,446",19.30,19.50,19.30,19.40,+0.20,"2,982"
17,109/05/27,"8,310,108","161,797,308",19.45,19.55,19.40,19.50,+0.10,"2,530"